name: Build Docker image and push to GHCR

on:
  workflow_dispatch:
  push:
    branches:
      - master

# Allow one concurrent build
concurrency: build-and-push

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  TAG_NAME: latest
  # Cache image may be kept private
  CACHE_IMAGE_NAME: buildcache
  IMAGE_PHP: php7.4
  IMAGE_CSS: css

jobs:
  build:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Export lowercase image names
        shell: bash
        run: |
        
          # IMAGE_TAG=ghcr.io/user/repo:latest
          : "${{ env.REGISTRY }}/${{ github.repository }}:${{ env.TAG_NAME }}"
          echo "IMAGE_TAG=${_,,}" | tee -a $GITHUB_ENV
        
          # CACHE_TAG=ghcr.io/user/buildcache:repo
          : "${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.CACHE_IMAGE_NAME }}:${GITHUB_REPOSITORY#*/}"
          echo "CACHE_TAG=${_,,}" | tee -a $GITHUB_ENV
      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push CSS
        uses: docker/build-push-action@v3
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ./
          file: ./image/css/Dockerfile
          tags: ${{ env.IMAGE_CSS }}
          push: true
          cache-from: type=registry,ref=${{ env.CACHE_TAG }}
          cache-to: type=registry,ref=${{ env.CACHE_TAG }},mode=max

      - name: Build and push PHP74
        uses: docker/build-push-action@v3
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ./
          file: ./image/php7.4/Dockerfile
          tags: ${{ env.IMAGE_PHP }}
          push: true